body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
/* colors classes */
.bg-white {
    background-color: var(--white-color);
}
.bg-black-1 {
    background-color: var(--black-color-1);
}
.bg-black-2 {
    background-color: var(--black-color-2);
}
.bg-grey {
    background-color: var(--grey-color);
}
.bg-grey-2{
    background-color: var(--grey-color-2);
}
.bg-light-grey{
    background-color: var(--light-grey);
}
/* basic structure and responsive design */
.container {
    display: inline-block;
    width: 100%;
    padding: 80px 0;
}
    .container > .row {
        display: inline-block;
        width: 1200px;
        margin: 0 calc((100% - 1200px) / 2);
    }
    .col-1, .col-2, .col-3, .col-4,
    .col-5, .col-6, .col-7, .col-8,
    .col-9, .col-10, .col-11, .col-12 {
        display: inline-block;
        float: left;
        padding: 0 10px;
        min-height: 1px;
    }
    .col-12 { width: 100%; }
    .col-11 { width: calc(100% / 12 * 11); }
    .col-10 { width: calc(100% / 12 * 10); }
    .col-9 { width: 75%; }
    .col-8 { width: calc(100% / 12 * 8); }
    .col-7 { width: calc(100% / 12 * 7); }
    .col-6 { width: 50%; }
    .col-5 { width: calc(100% / 12 * 5); }
    .col-4 { width: calc(100% / 12 * 4); }
    .col-3 { width: 25%; }
    .col-2 { width: calc(100% / 12 * 2); }
    .col-1 { width: calc(100% / 12); }
/* header */
 
#header {
    padding: 12px 0;
    position: fixed;
    background-color: var(--white-color);
    z-index: 2;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    
    }
    #header.transparent {
        background-color: transparent;
        box-shadow: none;
    }
    #header .logo {
        display: inline-block;
        float: left;
        text-decoration: none;
        color: var(--black-color-1);
        font-size: 35px;
        line-height: 45px;
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
        #header.transparent .logo {
            color: #FFF;
        }
#header nav {
    display: inline-block;
    float: right;
}
#header .bars {
    display: none;
}
        #header nav > a.active::after {
            content: "";
            display: inline-block;
            width: 6px;
            height: 6px;
            background-color: var(--black-color-1);
            position: absolute;
            border-radius: 50%;
            bottom: 0%;
            left: calc((100% - 10px) / 2);
           }
        #header nav > a {
            display: inline-block;
            float: left;
            margin: 0 0 0 20px;
            padding: 0 10px;
            color: var(--black-color-1);
            text-decoration: none;
            line-height: 45px;
            position: relative;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
            #header.transparent nav > a {
                color: #FFF;
            }
            #header.transparent nav > a.active::after {
                background-color: #FFF;
            }
        #header nav > a:first-child {
            margin: 0;
        }
        #header nav > a:hover::after {
            content: "";
            display: inline-block;
            width: 7px;
            height: 7px;
            background-color: var(--black-color-1);
            position: absolute;
            border-radius: 50%;
            bottom: 0;
            left: calc((100% - 10px) / 2);
            }
            #header.transparent nav > a:hover::after {
                background-color: #FFF; 
            }
        
             
/* hero */
#container_hero{
    background:
    linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.85)),
    url(../img/elvishas.jpg);
    url(../img/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
    .hero{
        display: inline-block;
        text-align: center;
        width: 100%;
        /* width: 1000px;
        margin: 0 calc( ( 100% - 1000px) / 2 ); */
        color:var(--white-color);
        margin-top: 180px;
        margin-bottom: 90px;
        /* height: 300px; */
    }
        .hero h6{
            font-size: 20px;
            font-weight: lighter;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin-bottom: 20px;
            margin:0 20px;
        }
        .hero h5{
            display: inline-block;
            font-size: 80px;
            font-weight: lighter;
            padding: 20px;
            width: 96%;
            margin:0 20px;
        }
        .
            width: 30px;
            height: 30px;
            display: inline-block;
            line-height: 30px;
        }
        .hero .areabutton{
            width: 100%;
            display: inline-block;
            height: 100px;
            position: relative;
        }
        .hero .button{
                position: absolute;
                bottom: 0;
            }
        .hero .moving{
            display: inline-block;
            font-weight: bold;
        }
        .block_mouse{
            display: inline-block;
            width:100%;
            height: 50px;
            position: relative;
            margin-bottom: 20px;
        }
            .mouse{
                width: 30px;
                height: 50px;
                border: 2px solid white;
                border-radius: 30px;
                text-align: center;
                position: relative;
                bottom: 0;
                left: calc(  ( 100% - 30px) / 2 );
            }
            i{
                display: inline-block;
                color:white;
                width: 25px;
                height: 25px;
                margin-top: 15px;
                text-align: center;
            }
/* about me */
<!-- about me start -->
    <div id="about" class="container">
        <div class="row">
            <h3><span> About </span> Me</h3>
            <div class="block">
                    <div class="rightline"> &#8212</div>
                    <div class="star"> * </div>
                    <div class="leftline"> &#8212</div>
            </div>
                <div class="lineleft"></div>
            <div class="about-me">
                <img src="img/Elvish-signature.png" alt="">
            </div>
            <div class="hello"> 
              <h3> Hello! <span> I'm Elvish Walters.</span></h3>
                <ul class="inline-list">
                    <li>UI/UX Designer</li>
                    <li>Photographer</li>
                    <li class="no-style">Developer</li>
                </ul>
                <p class="text-about-me">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
            </div>
            <div class="left">    
                <div class="progress-bar">
                    <div class="texts">
                        <div class="title">Development</div>
                        <div class="value">80%</div>
                        
                    </div>
                    <div class="bar">
                        <div class="bar-value" style="width: 80%;">
                            <div class="loading"></div>
                        </div>
                    </div>
                </div>
                <div class="progress-bar">
                    <div class="texts">
                        <div class="title">WordPress</div>
                        <div class="value">59%</div>
                    </div>
                    <div class="bar">
                        <div class="bar-value" style="width: 59%;">
                            <div class="loading"></div>
                        </div>
                    </div>
                </div>
                <div class="progress-bar">
                    <div class="texts">
                        <div class="title">Photoshop</div>
                        <div class="value">88%</div>
                    </div>
                    <div class="bar">
                        <div class="bar-value" style="width: 88%;">
                            <div class="loading"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">    
                <div class="progress-bar">
                    <div class="texts">
                        <div class="title">Html</div>
                        <div class="value">96%</div>
                    </div>
                    <div class="bar">
                        <div class="bar-value" style="width: 96%;">
                            <div class="loading"></div>
                        </div>
                    </div>
                </div>
                <div class="progress-bar">
                    <div class="texts">
                        <div class="title">Css</div>
                        <div class="value">70%</div>
                    </div>
                    <div class="bar">
                        <div class="bar-value" style="width: 70%;">
                            <div class="loading"></div>
                        </div>
                    </div>
                </div>
                <div class="progress-bar">
                    <div class="texts">
                        <div class="title">Asp.net</div>
                        <div class="value">58%</div>
                    </div>
                    <div class="bar">
                        <div class="bar-value" style="width: 58%;">
                            <div class="loading"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about me end -->
}  

/* our services */

/* count timeline */

/* education & experiance */

/* freelance section */

/* our work */

/* our client */

/* trusted be great people */

/* subscribe */

/* our blog */

/* get in tuch */ 

#footer {
    display: inline-block;
    width: 100%;
    padding: 25px 10px;
    background-color: var(--secondary-main-color);
}

#footer > .row > p {
    float: left;
    margin: 10px;
    padding: 10px 60px;
    line-height: 30px;
    color: var(--secondary-text-color);
    font-size: 18px;
}

#footer > .row > .social_icons {
    display: inline-block;
    float: right; 
    margin: 10px;
    padding:10px 25px; 
}

.social_icons > a {
    margin: 10px;
    text-decoration: none;
    color: var(--secondary-text-color);
    line-height: 20px;
}

.social_icons > a > .fa {
    font-size: 18px;
    border: 2px solid var(--secondary-text-color);
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    width: 42px;
    height: 42px;
    display: inline-block;
    line-height: 29px;
}

