.progress-bar {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
    .progress-bar > .texts {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 20px;
        color: var(--dark-grey-color);
    }
        .progress-bar > .texts > .title {
            display: inline-block;
            
        }
        .progress-bar > .texts > .value {
            display: inline-block;
        
        }
    .progress-bar > .bar {
        display: inline-block;
        width: 100%;
        height: 8px;
        border-radius: 4px;
        background-color: var(--grey-color);
        overflow: hidden;
    }
        .progress-bar > .bar > .value {
            display: inline-block;
            width: 80%;
            height: inherit;
            border-radius: inherit;
            background-color: blue;
        }
        .progress-bar > .bar > .value > .loading {
            display: inline-block;
            width: 100%;
            height: inherit;
            border-radius: inherit;
            background-color: var(--secondary-color);
            position: relative;

            animation-name: loading;
            animation-duration: 2s;
            animation-iteration-count:1s;
        }
        @keyframes loading {
            0% {
                width: 0%;
            }
            100% {
                width: 100%;
            }
        }