:root {
    --main-color: #FFFFFF;
    --main-color-anti: #000000;
    --secondary-main-color: #F8F9FA;
    --main-text-color: #000000;
    --main-text-color-anti: #FFFFFF;
    --secondary-text-color: #6c757d;
    --bar-background-color: #E9ECEF;
}